@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Exo+2&display=swap');

body {
    background-color: white;
    font-family: 'Alegreya Sans', sans-serif;
    color: #445361;
    text-align: center;
}

h1 {
    font-family: 'Exo 2', sans-serif;
}

/* ----GAME AREA---- */
#game-outer {
    width: 80%;
    height: 800px;
    background-color: Gainsboro;
    margin: 0 auto;
}

#selected-area {
    padding: 50px;
    margin: 0 auto;
    font-size: 6rem; 
}
#selected-area h2 {
    font-size: 3rem; 
}

.selected-area {
    display: inline-block;
    width: 30%;
    padding: 20px 0 15px 0;
}

#win-loss {
    font-size: 3rem;
    margin-top: 0;
}

#submit {
    font-size: 3rem;
    padding: 30px;
    color: #445361;
    background-color: gainsboro;
    border: none;
    box-sizing: border-box;
    border: 2px solid gainsboro;
    
}

#submit:hover {
    border: 2px solid #445361;
    border-radius: 15px;
    cursor: pointer;
}


/* ----SELECTION AREA---- */
#selections {
    width: 80%;
    margin: 0 auto;
}

.btn {
    height: 7rem;
    width: 7rem;
    font-size: 4rem;
    margin: 30px;
    background-color: transparent;
    border: none;
    padding: 30px;
    overflow: clip;
}

.btn i {
    border-radius: 30px;
}

.btn i:hover {
    background-color: rgb(187, 186, 186);
    cursor: pointer;
    

}