@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Exo+2&display=swap');

body {
    background-color: white;
    font-family: 'Alegreya Sans', sans-serif;
    color: #445361;
    text-align: center;
}

h1 {
    font-family: 'Exo 2', sans-serif;
}

/* ----GAME AREA---- */
#game-outer {
    width: 720px;
    height: auto;
    background-color: Gainsboro;
    margin: 0 auto;

}

#selected-area {
    padding: 15px 0 0;
    margin: 0 auto;
    font-size: 6rem; 
}
#selected-area h2 {
    font-size: 3rem; 
}

.selected-area-content {
    display: inline-block;
    width: 30%;
    padding: 20px 0 0;
}

#win-loss {
    font-size: 3rem;
    margin-top: 0;
}

#submit {
    font-size: 3rem;
    padding: 30px;
    color: #445361;
    background-color: rgb(189, 189, 189);
    border: none;
    box-sizing: border-box;
    border-radius: 15px;
    /* Keep border here or the button will move when hoverd*/
    border: 2px solid rgb(189, 189, 189);
    
}

#submit:hover {
    border: 2px solid #445361;
    border-radius: 15px;
    cursor: pointer;
}


/* ----SELECTION AREA---- */
#selections {
    width: 80%;
    margin: 0 auto;
}

.btn {
    height: 7rem;
    width: 7rem;
    font-size: 4rem;
    margin: 0;
    background-color: transparent;
    border: none;
    padding: 0px 30px 30px;
    overflow: clip;
}

.btn i {
    border-radius: 30px;
}

.btn i:hover {
    background-color: rgb(187, 186, 186);
    cursor: pointer;
}

/* ----SCORE BOARD---- */

#score-area {
    padding-bottom: 20px;
}

#score-area p {
    display: inline;
    width: 3 rem;
    margin: 0 10px 0 10px;
}

/* ---- MEDIA QUERIES ---- */


@media (max-width: 720px) {
    #game-outer {
        width: 99%;
    }
}